<H3>Top 20</H3>
<table class="table table-striped table-hover table-condensed" style="width: 100%;">
    <tr  style="background-color: orangered;">
        <th>Combinations</th>
    </tr>
    <tr *ngFor="let aw of Top20" >
        <td>{{aw.displayval}}</td>
      </tr>
</table>

<H3>Order and Rank</H3>
<table class="table table-striped table-hover table-condensed" style="width: 100%;">
    <tr  style="background-color: orangered;">
        <th>Rank</th>
        <th>Count</th>
        <th>Combinations</th>
    </tr>
    <tr *ngFor="let aw of PizzaListing; let i = index" >
        <td>{{aw.rank}}</td>
        <td>{{aw.count}}</td>
        <td>{{aw.displayval}}</td>

      </tr>
</table>

